config SHIELD_DETUN_LEFT
    def_bool $(shields_list_contains,detun_left)

config SHIELD_DETUN_RIGHT
    def_bool $(shields_list_contains,detun_right)

config SHIELD_DETUN_SETTINGS_RESET
    def_bool $(shields_list_contains,detun_settings_reset)
